*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/
header{
    background-color: red;
    width: 80%;
    height: 500px;
    margin: auto;
}
.head-box{
    width: 80%;
    margin: auto;
    height: 500px;
    background-color: coral;
    position: relative;
}
nav{
    height: 80px;
    background-color: blue;    
}
#logo-header{
    width: 150px;
    height: 100%;
    background-color: blueviolet;
    display: inline-block;
    margin-right: 5%;
}
#link-header{
    width: 300px;
    height: 100%;
    background-color: cornflowerblue;
    display: inline-block;
}
#pulsanti-header{
    width: 300px;
    height: 100%;
    background-color: yellow;
    display: inline-block;
    float: right;
}
#titolo-header{
    background-color: chartreuse;
    width: 50%;
    height: 30%;
    position: absolute;
    top: 30%;
}
#pulsante-titolo-header{
    background-color: darkgreen;
    width: 20%;
    height: 10%;
    position: absolute;
    top: 65%;
}
/*SEZIONE*/
section{
    width: 80%;
    height: 130px;
    margin: auto;
    background-color: lightgray;
}
#section-box{
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: brown;
}
/*MAIN-TOP*/
main{
    width: 80%;
    margin: auto;
    height: 800px;
    background-color: hotpink;
}
.main-top-box{
    width: 80%;
    height: 50%;
    margin: auto;
    background-color: bisque;
    border-bottom: 1px solid lightgray;
}
.colonna-main-top{
    width: 33%;
    height: 100%;
    background-color: blue;
    display: inline-block;
}
.main-colonna-head{
    width: 100%;
    height: 30%;
    border: 1px solid black;
}
.main-colonna-titolo{
    width: 100%;
    height: 20%;
    border: 1px solid black;
}
.main-colonna-linea{
    width: 100%;
    height: 10%;
    border: 1px solid black;
}
.main-colonna-paragrafo{
    width: 100%;
    height: 40%;
    border: 1px solid black;
}
/*MAIN-BOT*/
.main-bot-box{
    width: 80%;
    height: 50%;
    margin: auto;
    background-color:crimson;
}
.colonna-main-bot{
    width: 50%;
    height: 100%;
    background-color: blue;
    float: left;
    border: 1px solid black;
    padding: 10px;
}
.main-colonna-titolo-bot{
    width: 70%;
    height: 30%;
    border: 1px solid black;
}
.main-colonna-paragrafo-bot{
    width: 70%;
    height: 30%;
    border: 1px solid black;
}
.main-colonna-link-bot{
    width: 70%;
    height: 15%;
    border: 1px solid black;
}
/*FOOTER*/
footer{
    width: 80%;
    height: 150px;
    margin: auto;
    background-color: lightgrey;
}
.footer-box{
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: aquamarine;
}
#titolo-footer{
    width: 30%;
    height: 100%;
    background-color:yellow;
    float: left;
}
#pulsanti-footer{
    width: 60%;
    height: 100%;
    background-color: green;
    float: right;
}