*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/
header{
    background-image: url(img/background-header.png);
    background-size: 60%;
    background-repeat: no-repeat ;
    background-position-y: 100%;
    background-position-x: right;
    background-color: rgb(36, 63, 112);
    width: 90%;
    height: 500px;
    margin: auto;
}
.head-box{
    width: 80%;
    margin: auto;
    height: 500px;
    position: relative;
}
nav{
    height: 80px;  
}
#logo-header{
    width: 150px;
    height: 100%;
    display: inline-block;
    margin-right: 5%;position: relative;
}
#img-logo{
    width: 100%;
    position: absolute;
    top: 10px;

}
/*sistemare la posizione dei link*/
#link-header{
    width: 40%;
    display: inline-block;
    position: absolute;
    top: 30px;
}
ul li{
    display: inline-block;
    font-size: 10px;
}
#link-header a{
    text-decoration: none;
    color: white;
    margin: 3px;
}
#pulsanti-header{
    width: 350px;
    height: 100%;
    display: inline-block;
    float: right;
}
#pulsanti-header a{
    text-decoration: none;
    color:white;
}
#pulsanti-header ul{
    position: relative;
    top:30px
}
.bottoni-pulsanti-header{
    color: white;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}
.primo-bottone-testa{
    background-color: transparent;
    border: 1px solid white;
}
.secondo-bottone-testa{
    background-color: lightgreen;
    border:transparent;
}
#titolo-header{
    width: 60%;
    height: 30%;
    position: absolute;
    top: 30%;
    font-size: 25px;
    color: white;
}
#pulsante-titolo-header{
    width: 25%;
    height: 10%;
    position: absolute;
    top: 65%;
}
#bottone-header{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: lightgreen;
    color: white;
    border: 1px solid transparent;
}
/*SEZIONE*/
section{
    width: 90%;
    height: 130px;
    margin: auto;
    background-color: lightgray;
}
#section-box{
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    top: 45px;
}
section div h1{
    font-size: 30px;
}
section div p{
    color: grey;
}
/*MAIN-TOP*/
main{
    width: 90%;
    margin: auto;
    height: 800px;
}
.main-top-box{
    width: 80%;
    height: 50%;
    margin: auto;
    border-bottom: 1px solid lightgray;
}
.colonna-main-top{
    width: 33%;
    height: 100%;
    float:left;
}
.centro{
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.main-colonna-head{
    width: 100%;
    height: 30%;
}
.immagine-main{
    padding-top: 5px;
    width: 100%;
    height: 100%;
}
.main-colonna-titolo{
    width: 100%;
    height: 20%;
}
.main-colonna-titolo h3{
    text-align: center;
    color: lightgreen;
    padding: 10px;
}
.main-colonna-linea{
    width: 100%;
    height: 10%;
}
.riga-main{
    padding: 20px 70px;
}
.main-colonna-paragrafo{
    width: 100%;
    height: 40%;
}
.main-colonna-paragrafo p{
    text-align: center;
    padding: 10px;
}
/*MAIN-BOT*/
.main-bot-box{
    width: 80%;
    height: 50%;
    margin: auto;
}
.colonna-main-bot{
    width: 50%;
    height: 100%;
    float: left;
    padding: 10px;
}
.colonna-main-bot img{
    width: 90%;
}
.main-colonna-titolo-bot{
    width: 70%;
    height: 30%;
    margin-bottom: 10px;
}
.main-colonna-paragrafo-bot{
    width: 70%;
    height: 30%;
}
.main-colonna-paragrafo-bot p{
    color: grey;
}
.main-colonna-link-bot{
    width: 70%;
    height: 15%;
}
/*FOOTER*/
footer{
    width: 90%;
    height: 120px;
    margin: auto;
    background-color: lightgrey;
}
.footer-box{
    width: 80%;
    height: 100%;
    margin: auto;
}
#titolo-footer{
    width: 30%;
    height: 100%;
    float: left;
}
#titolo-footer h2{
    text-align: center;
    margin-top: 60px;
}
#pulsanti-footer{
    width: 65%;
    height: 100%;
    float: right;
    padding-top: 50px;
}
#pulsanti-footer ul{
    vertical-align: middle;
    margin: 10px;
}
#primo-pulsante-footer{
    font-size: 20px;
    margin-right: 5px;
}
#secondo-pulsante-footer{
    width: 100px;
    border: 1px solid transparent;
}
#terzo-pulsante-footer button{
    padding: 5px;
    background-color: transparent;
    color: white;
    background-color: lightgreen;
    border: 1px solid transparent;
    border-radius: 5px;
}
/*BOTTONE DI AIUTO*/
/*da sistemare*/
#bottone-help{
    background-color: lightgreen;
    color: white;
    border: 1px solid transparent;
    float:right;
    margin-right: 20px;
    padding: 2px;
}